* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v807_2755 {
  width: 100%;
  height: 1724px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  text-align: center;
  margin:0 auto;
}
.v807_2764 {
  width: 118px;
  color: rgba(29,29,31,1);
  position: absolute;
  top: 358px;
  left: 0;
  right: 0;
  font-family: SF Pro Text;
  font-weight: Semibold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
  margin:0 auto;
}
.v807_2765 {
  width: 910px;
  color: rgba(29,29,31,1);
  position: absolute;
  top: 425px;
  left: 0;
  right: 0;
  font-family: SF Pro Display;
  font-weight: Semibold;
  font-size: 80px;
  opacity: 1;
  text-align: center;
  margin:0 auto;
}
.v807_2766 {
  width: 243px;
  color: rgba(110,110,115,1);
  position: absolute;
  top: 1552px;
  left: 0px;
  right: 0px;
  font-family: SF Pro Text;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
  margin: 0 auto;
}
.v807_2767 {
  width: 240px;
  height: 120px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 651px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}


.v807_2802 {
  width: 100%;
  background: url("../images/v807_2802.png");
  opacity: 1;
  position: absolute;
  top: 1528px;
  left: 0px;
  border: 1px solid rgba(210,210,215,1);
}

.v807_2897 {
  width: 634px;
  height: 791px;
  opacity: 1;
  position: absolute;
  top: 767px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 50px;
}
.v807_2898 {
  width: 146px;
  height: 146px;
  background: url("../images/v807_2898.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 204px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  margin: 0 auto;
}
