* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v807_2755 {
  width: 100%;
  height: 1724px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v807_2764 {
  width: 118px;
  color: rgba(29,29,31,1);
  position: absolute;
  top: 358px;
  left: 901px;
  font-family: SF Pro Text;
  font-weight: Semibold;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v807_2765 {
  width: 910px;
  color: rgba(29,29,31,1);
  position: absolute;
  top: 425px;
  left: 505px;
  font-family: SF Pro Display;
  font-weight: Semibold;
  font-size: 80px;
  opacity: 1;
  text-align: center;
}
.v807_2766 {
  width: 243px;
  color: rgba(110,110,115,1);
  position: absolute;
  top: 1552px;
  left: 839px;
  font-family: SF Pro Text;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v807_2767 {
  width: 240px;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 651px;
  left: 840px;
  overflow: hidden;
}
.v807_2768 {
  width: 240px;
  height: 80px;
  background: url("../images/v807_2768.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v807_2769 {
  width: 240px;
  height: 80px;
  background: url("../images/v807_2769.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v807_2770 {
  width: 240px;
  height: 80px;
  background: url("../images/v807_2770.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v807_2771 {
  width: 240px;
  height: 80px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v807_2772 {
  width: 236px;
  height: 76px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
}
.v807_2773 {
  width: 200px;
  height: 51px;
  background: url("../images/v807_2773.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 20px;
  overflow: hidden;
}
.v807_2774 {
  width: 36px;
  height: 45px;
  background: url("../images/v807_2774.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v807_2775 {
  width: 36px;
  height: 45px;
  background: url("../images/v807_2775.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v807_2776 {
  width: 36px;
  height: 34px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
}
.v807_2777 {
  width: 9px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 19px;
}
.v807_2778 {
  width: 150px;
  height: 31px;
  background: url("../images/v807_2778.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 50px;
  overflow: hidden;
}
.v807_2779 {
  width: 22px;
  height: 24px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v807_2780 {
  width: 17px;
  height: 24px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 25px;
}
.v807_2781 {
  width: 17px;
  height: 24px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 45px;
}
.v807_2782 {
  width: 19px;
  height: 25px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 71px;
}
.v807_2783 {
  width: 9px;
  height: 22px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 92px;
}
.v807_2784 {
  width: 17px;
  height: 18px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 104px;
}
.v807_2785 {
  width: 9px;
  height: 18px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 124px;
}
.v807_2786 {
  width: 16px;
  height: 18px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 134px;
}
.v807_2787 {
  width: 138px;
  height: 12px;
  background: url("../images/v807_2787.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 72px;
  overflow: hidden;
}
.v807_2788 {
  width: 138px;
  height: 12px;
  background: url("../images/v807_2788.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v807_2789 {
  width: 9px;
  height: 11px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v807_2790 {
  width: 8px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 13px;
}
.v807_2791 {
  width: 12px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 22px;
}
.v807_2792 {
  width: 7px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 37px;
}
.v807_2793 {
  width: 1px;
  height: 12px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 47px;
}
.v807_2794 {
  width: 8px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 52px;
}
.v807_2795 {
  width: 7px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 62px;
}
.v807_2796 {
  width: 8px;
  height: 12px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 72px;
}
.v807_2797 {
  width: 8px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 88px;
}
.v807_2798 {
  width: 7px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 99px;
}
.v807_2799 {
  width: 5px;
  height: 11px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 113px;
}
.v807_2800 {
  width: 7px;
  height: 12px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 121px;
}
.v807_2801 {
  width: 8px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 131px;
}
.v807_2802 {
  width: 100%;
  background: url("../images/v807_2802.png");
  opacity: 1;
  position: absolute;
  top: 1528px;
  left: 367px;
  border: 1px solid rgba(210,210,215,1);
}
.v807_2803 {
  width: 100%;
  height: 713px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 770px;
  left: 0px;
  overflow: hidden;
}
.v807_2897 {
  width: 634px;
  height: 691px;
  background: url("../images/v807_2897.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 767px;
  left: 643px;
  overflow: hidden;
}
.v807_2898 {
  width: 146px;
  height: 146px;
  background: url("../images/v807_2898.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 204px;
  left: 887px;
  overflow: hidden;
}
